<div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Student :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form >
        
        
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Name :</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Gender :</label>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">Female</label>
                </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Class :</label>
            <div class="col-sm-9">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="11">XI</option>
                    <option value="12">XII</option>
                  </select>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Birth Date :</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="inputPassword">
            </div>
          </div>
          
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
